[submodule "88. Merge Sorted Array"]
	path = 88. Merge Sorted Array
	url = https://github.com/madiv9820/88_Merge_Sorted_Array.git
[submodule "27. Remove Element"]
	path = 27. Remove Element
	url = https://github.com/madiv9820/27_Remove_Element.git
[submodule "26. Remove Duplicates from Sorted Array"]
	path = 26. Remove Duplicates from Sorted Array
	url = https://github.com/madiv9820/26_Remove_Duplicates_from_Sorted_Array.git
