[submodule "88. Merge Sorted Array"]
	path = 88. Merge Sorted Array
	url = https://github.com/madiv9820/88_Merge_Sorted_Array.git
[submodule "27. Remove Element"]
	path = 27. Remove Element
	url = https://github.com/madiv9820/27_Remove_Element.git
[submodule "26. Remove Duplicates from Sorted Array"]
	path = 26. Remove Duplicates from Sorted Array
	url = https://github.com/madiv9820/26_Remove_Duplicates_from_Sorted_Array.git
[submodule "80. Remove Duplicates from Sorted Array II"]
	path = 80. Remove Duplicates from Sorted Array II
	url = https://github.com/madiv9820/80_Remove_Duplicates_from_Sorted_Array_II.git
[submodule "169. Majority Element"]
	path = 169. Majority Element
	url = https://github.com/madiv9820/169_Majority_Element.git
[submodule "189. Rotate Array"]
	path = 189. Rotate Array
	url = https://github.com/madiv9820/189_Rotate_Array.git
[submodule "121. Best Time to Buy and Sell Stock"]
	path = 121. Best Time to Buy and Sell Stock
	url = https://github.com/madiv9820/121_Best_Time_to_Buy_and_Sell_Stock.git
